body {
    color: white;
    background-color: black;
    text-align: center;
    margin: 2%;
}

.upgrade-button {
    width: 200px;
    height: 200px;
    align-items: center;
    border-radius: 2px;
    background-color: lightgreen;
    font-size: 16px;
}
.upgrade-button[disabled]{
    color: black;
    background-color: indianred;
}

.upgrade-button.autobuyer:not([disabled]){
    background-color: lightblue;
}
.upgrade-button.autobuyer.autobuyer-enabled:not([disabled]){
    background-color: darkslateblue;
}

.game-panel{
    display: none;
}

.resources{
    display: flex;
    justify-content: center;
}

.resources-panel {
    display: none;
    margin: 10px;
}